@font-face {
  font-family: 'Vetrino';
  src: local('Vetrino'), url('fonts/Vetrino.otf') format('opentype');
}

body {
  font-family: 'Vetrino', sans-serif;
  font-style: normal;
}

.collapse.navbar-collapse {
    color: white; 
}

.section-container {
  padding: 50px;
  background-color: #f8f9fa;
}

.section-header {
  background-color: #343a40;
  color: white;
  padding: 15px;
  margin-bottom: 30px;
}

.navbar {
  background-color: #343a40;
}

.house-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.house-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


h2 {
  font-size: 40px; 
  color: white;
}

#about {
  height: 100vh;
  background-position: center;
  background-image: url('img/background/back.jpg'); 
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#aboutus {
  height: 100vh;
  background-position: center;
  background-image: url('img/background/background.jpg'); 
  background-size: cover;
  background-color: rgba(255, 255, 255, 0); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#houses {
  height: 100vh;
  background-position: center;
  background-image: url('img/background/background2.jpg'); 
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.gallery-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
  font-size: 24px;
}

.gallery-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.gallery-btn-prev {
  left: 0;
}

.gallery-btn-next {
  right: 0;
}

.alert.show {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.alert {
  opacity: 0;
  transition: opacity 0.5s linear;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
